
@media (max-width: 1200px)
	.fixed-top
		.menu
			&-item
				padding-right: 18px
			
			&-link
				font-size: 13px
	
	.promo
		.promo-header
			font-size: 50px
				
		.promo-sub-header
			font-size: 33px
			line-height: 40px
	
	.mobile
		margin-top: 20px

		&-item		
			width: 300px
	
	.footer-mobile
		img
			width: 80px
	
	.footer-wrapper > div 
		width: 38%

@media (max-width: 991px)
	.fixed-top
		.menu 
			&-item
				padding-right: 6px

			&-link
				font-size: 11px

	.sub-header 
		.sub-header-phone
			font-size: 18px	
		
	.promo
		padding: 80px 0 20px 0
		min-height: 600px

		.promo-header
			font-size: 36px
					
		.promo-sub-header
			font-size: 22px
			line-height: 40px

	.mobile		

		&-item		
			width: 218px
			height: 220px
		
		&-item-subtitle
			font-size: 16px

	.title
		font-size: 22px

	.advantages
		.advantages-img
			display: flex
			flex-direction: column		
			width: 100px
			height: 100px


	.choice
		.choice-img
			width: 700px

	.footer-mobile
		img
			width: 58px

	.footer-wrapper
		.footer-links
			width: 350px;

			.footer-links-main
				a
					font-size: 14px
	
	.footer-wrapper > div 
		width: 48%

@media (max-width: 767px)
	.menu
		position: fixed
		flex-direction: column
		justify-content: center
		align-items: center
		top: 0
		left: -100%
		width: 80%
		height: 100vh
		padding: 20px 15px
		background-color: rgba(0, 0, 0, .9)
		transition: 0.6s all

		&-active
			left: 0

		&-item
			padding-right: 0
			border: none
			margin: 20px 0

		.menu-link
			font-size: 17px

	nav
		.hamburger
			display: block
			position: absolute
			right: 10px
			top: 50%
			transform: translateY(-50%)
			width: 25px
			height: 12px

			span
				display: block
				height: 2px
				width: 100%
				margin-bottom: 3px
				background-color: #fff
				transition: 0.6s all
			
			&-active
				span
					margin-bottom: -2px
					&:nth-child(1)
						transform: translateY(3px) rotate(-45deg)
					&:nth-child(2)
						display: none	
					&:nth-child(3)
						transform: translateY(3px) rotate(45deg)	

	.xs-hidden
		display: none

	.sub-header 
		.xs-visible
			display: block
		
		.sub-header-btn
			display: block
			margin-top: 5px;
			height: 35px;
			font-size: 12px

		.sub-header-phone
			display: block
			font-size: 14px
			margin-top: 5px
			color: #ffffff
			font-weight: 400
			text-transform: uppercase
			text-align: center
	
	.choice
		min-height: 800px

		.choice-img
			width: 530px
			margin-top: 80px
			margin-bottom: 5px
			
	.require 
		padding: 40px 0 84px 0

	.title
		font-size: 19px
	
	.advantages 
		.advantages-img 
			width: 100px
			height: 100px

		.advantages-img-header
			padding: 2px 10px 2px 10px

		.advantages-img-desc
			padding: 10px
			font-size: 14px
			line-height: 21px				

@media (max-width: 575px)
	header
		height: 30px		

	.sub-header
		top: 28px

	nav
		height: 30px

	.menu
		&-item
			width: 100%
			text-align: center
			padding: 5px 0
			
		&-link
			display: block			

	.promo
		padding-bottom: 50px

		.promo-btn 
			margin-top: 30px

		.promo-header 
			font-size: 26px

		.promo-sub-header 
			font-size: 18px
			line-height: 26px
			margin-top: 10px
		
		.promo-desc 
			font-size: 15px

	.title
		font-size: 17px
		line-height: 24px
	
	.sub-title 
		margin-top: 20px
		font-size: 14px

	.require-title 
		font-size: 18px

	.require-list 
		li 
		 font-size: 14px
		 line-height: 20px
	
	.sub-header 
		.sub-header-btn
			height: 30px

	.choice-descr
		font-size: 14px

	.choice 
		padding-bottom: 40px
		min-height: 550px

		.choice-img 
			width: 290px
			margin-top: 100px

		.black 			
			height: 377px

	.require-block-nbm
		margin-left: 10px

	.world
		min-height: 650px

	.footer
		min-height: 250px

		.footer-wrapper
			position: relative
			.footer-social
				position: absolute
				left: 50%
				transform: translateX(-50%)
				top: 150px

			.footer-mobile
				position: absolute
				left: 50%
				transform: translateX(-50%)
				top: 190px
				min-width: fit-content
				img 
					width: 80px

			.footer-links
				position: absolute
				left: 50%
				transform: translateX(-50%)
				top: 50px
				&-main
					justify-content: space-around
				&-sub					
					justify-content: space-evenly
					a
						font-size: 9px
