
@media (max-width: 1200px)
	.fixed-top
		.menu
			&-item
				padding-right: 18px
			
			&-link
				font-size: 13px
	
	.promo
		.promo-header
			font-size: 50px
				
		.promo-sub-header
			font-size: 33px
			line-height: 40px
	
	.mobile
		&-item		
			width: 300px

@media (max-width: 991px)
	.fixed-top
		.menu 
			&-item
				padding-right: 10px

			&-link
				font-size: 11px

	.sub-header 
		.sub-header-phone
			font-size: 18px
		
	.promo
		.promo-header
			font-size: 40px
					
		.promo-sub-header
			font-size: 28px
			line-height: 40px

	.mobile
		margin-top: 340px
		min-height: 800px

		&-item		
			width: 218px
			height: 220px
		
		&-item-subtitle
			font-size: 16px

	.title
		font-size: 30px
